/*-- scss:defaults --*/
$primary: #333333;

/*-- scss:rules --*/

:root {
  --red: #A13430; 
  --orange: #BF613A;
  --yellow: #EFBF5C;
  --green: #406C26; 
  --blue: #3356A9; 
  --purple: #5B3FA6;
}

/* rainbow borders */
nav {
  margin-top: 18px;
  box-shadow: 0 -3px 0 0px var(--purple),
              0 -6px 0 0px var(--blue),
              0 -9px 0 0px var(--green),
              0 -12px 0 0px var(--yellow),
              0 -15px 0 0px var(--orange),
              0 -18px 0 0px var(--red);
}

.navbar-title { display: none; }
.navbar-logo { max-height: 1.5em; }