/*-- scss:defaults --*/
$primary: #333333;

/*-- scss:rules --*/

:root {
  --red: #A1343099; 
  --orange: #BF613A99;
  --yellow: #EFBF5C99;
  --green: #406C2699; 
  --blue: #3356A999; 
  --purple: #5B3FA699;
}

/* rainbow borders */
header nav {
  margin-bottom: 18px;
  box-shadow: 0 3px 0 0px var(--red),
              0 6px 0 0px var(--orange),
              0 9px 0 0px var(--yellow),
              0 12px 0 0px var(--green),
              0 15px 0 0px var(--blue),
              0 18px 0 0px var(--purple);
}

.navbar-title { display: none; }
.navbar-logo { max-height: 1.5em; }

div.quarto-grid-item {
  border-radius: 15px;
}
p.card-img-top > img {
  border-radius: 15px 15px 0 0 ;
}
.list.grid > div {
  border: 5px solid var(--red);
  border-radius: 20px;
}
.list.grid > div:nth-child(2),
.list.grid > div:nth-child(8) {
  border-color: var(--orange);
}
.list.grid > div:nth-child(3),
.list.grid > div:nth-child(9) {
  border-color: var(--yellow);
}
.list.grid > div:nth-child(4),
.list.grid > div:nth-child(10) {
  border-color: var(--green);
}
.list.grid > div:nth-child(5),
.list.grid > div:nth-child(11) {
  border-color: var(--blue);
}
.list.grid > div:nth-child(6),
.list.grid > div:nth-child(12) {
  border-color: var(--purple);
}

.photo-list > li {
  height: 10em;
  width: auto;
  display: inline-block;
  float: left;
  margin: 3px;
}
.photo-list img {
  height: 10em;
}

.photo-list .listing-name {
  display: none;
}

#age-verification {
  text-align: center;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  
  height: 100vh; 
  background-color: black;
  color: white;
}

